<div class="about-page">
	<p><%= link_to "Home", root_path %></p>

	<h1>About Delfy</h1>

	<%= render 'about_Delfy' %>

	<%= render 'how_it_works' %>

	<%= render 'why_Delfy' %>

	<p><%= link_to "Sign up here", signup_path%></p>
</div>