<% if logged_in? %>
	<div class="header">
		<div class="logo"><h1>Delfy</h1></div>
		<div class= "top-nav">
			<div>Your communities:</div>
			<div id="community_selector">
				<% @menu_communities.each do |c| %>
					<div class="community-select-button-div">
						<%= button_to "#{c.name}", select_community_path(@community),
					    	{ params: {community_id: c.id}, :disabled => current_community == c, 
					    	  remote: true , form_class: 'community-select-button'} %>
					</div>
				<% end %>
				<% if current_user.communities.count > 3 %>
					<div class="community-select-button-div" id="community-dropdown" >
						<input class="community-select-button" id="more-communities" type="submit" value="More" onclick="showDropdownCommunities()"></input>
						<div class="dropdown-communities" id="dropdown-communities" style="display: none;">
							<% @dropdown_communities.each do |c| %>
								<div class="community-select-button-div">
									<%= button_to "#{c.name}", select_community_path(@community),
								    	{ params: {community_id: c.id}, :disabled => current_community == c, 
								    	  remote: true , form_class: 'community-select-button'} %>
								</div>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="main">
		<div class="sidebar">
			<div id="user_chunk"><%= render 'shared/user_chunk' %></div>
			<div><%= link_to "About Delfy", about_path %></div>
			<div><%= link_to "Create Community", new_community_path %></div>
			<div><%= link_to "Find Community", communities_path %></div>
			<div>
				<% if @user.admin %>
					<%= link_to "Users Index (admin only)", users_path %>
				<% else %>
				<% end %>
			</div>
			<div><%= link_to "Log out", logout_path, method: :delete %></div>
		</div>
		<div class="feed">
			<% flash.each do |message_type, message| %>
				<div class="alert alert-<%= message_type %>"><%= message %></div>
			<% end %>
			<div id="community_feed"><%= render 'shared/community_feed' if current_user.communities.exists? %></div>
		</div>
	</div>
<% else %>
		<h1 class="title">Delfy</h1>
		<div class="login-links">
			<% flash.each do |message_type, message| %>
				<div class="alert alert-<%= message_type %>"><%= message %></div>
			<% end %>
			<p><%= link_to "Sign up",     signup_path %></p>
			<p><%= link_to "Log in",      login_path %></p>
			<%= render 'about_Delfy' %>
		</div>
<% end %>
<footer></footer>

<script>
	function showDropdownCommunities() {
		var x = document.getElementById("dropdown-communities");
		if (x.style.display === "none") {
			x.style.display = "flex";
		} else {
			x.style.display = "none";
		}
	}
</script>