<% flash.each do |message_type, message| %>
	<div class="alert alert-<%= message_type %> new_session"><%= message %></div>
<% end %>

<div class="forgot_password">
	<h1>Forgot password</h1>

	<div>
	    <%= form_for(:password_reset, url: password_resets_path, 
	    			  html: { class: "new_reset" }) do |f| %>
	      <%= f.label :email %>
	      <%= f.email_field :email %>

	      <%= f.submit "Submit" %>
	    <% end %>
	</div>

	<%= link_to "Back", login_path %>
</div>