<% if i.votes.where(user_id: current_user.id).present? %>
	<div class="<%= i.id %> base-idea voted-for">
<% else %>
	<div class="<%= i.id %> base-idea">
<% end %>
		<%= render 'ideas/root_idea', i: i %>
		<div class="vote-button" id="<%= i.id %>_feed_button">
			<%= render 'ideas/hide_branches_button', idea: i %>
		</div>
	</div>
<div>
	<div id="<%= i.id %>_branch_feed">
		<%= render 'ideas/searched_branch_feed', idea: i %>
	</div>
</div>