<% if idea.votes.where(user_id: current_user.id, root: true).present? %>
	<div class="feed-root-idea voted-for">
<% else %>
	<div class="feed-root-idea">
<% end %>
		<div class="root-top">"<%= idea.content %>"</div>
		<div class="root-bottom">
			<div class="vote-button" id="<%= idea.id %>_vote_form">
				<% if current_user.votes.where(idea: idea, root: true).exists? %>
					<%= render 'votes/unvote', i: idea %>
				<% else %>
					<%= render 'votes/vote', i: idea %>
				<% end %>
				<div class="root-vote-count" id="<%= idea.id %>_vote_count">
					<%= idea.votes.where(root: true).count %>
				</div>
			</div>
		</div>
	</div>