<%= form_for(current_user.ideas.build, remote: true) do |f| %>
    <%= f.text_area :content, placeholder: "Compose new idea: what's the biggest issue or challenge you have in #{current_community.name}?", 
        class: "char-counter", data: { 'length': 140 } %>
    <span class="idea char-count">140</span>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :community_id, value: current_community.id %>
  	<div class="post-with-guide">
  		<div>
  			<%= f.submit "Post" %>
  		</div>
  		<div>
  			<a class="mouse-over-guide">
  				How?
	  			<div class="tooltip">
	  				<ul>
	  					<li>Write about what you want to change in this community.</li>
						  <li>Don’t name names.</li>
					</ul>
				</div>
			</a>
  		</div>
  	</div>
<% end %>

<script type="text/javascript">
  $(".char-counter").on("keyup",function(event){
    checkTextAreaMaxLength(this,event);
  });

  /*
  Check the MaxLength of the Textarea
  -----------------------------------------------------
  @prerequisite:  textBox = textarea dom element
          e = textarea event
                  length = Max length of characters
  */
  function checkTextAreaMaxLength(textBox, e) { 
      
      var maxLength = parseInt($(textBox).data("length"));
      
    
      if (!checkSpecialKeys(e)) { 
          if (textBox.value.length > maxLength - 1) textBox.value        = textBox.value.substring(0, maxLength);
      } 
      $(".char-count").html(maxLength - textBox.value.length);
      
      return true; 
  }

  /*
  Checks if the keyCode pressed is inside special chars
  -------------------------------------------------------
  @prerequisite:  e = e.keyCode object for the key pressed
  */
  function checkSpecialKeys(e) { 
      if (e.keyCode != 8 && e.keyCode != 46 && e.keyCode != 37 && e.keyCode != 38 && e.keyCode != 39 && e.keyCode != 40) 
          return false; 
      else 
          return true; 
  }
</script>