<div class="branches">
	<p>Root:</p>
	<%= render 'ideas/feed_root_idea', idea: idea %>

	<p>Branches:</p>
		<% if idea.branches.any? %>
			<div class="sort-branch-buttons" id="branch_idea_sort_buttons">
				<div>Sort:</div>
				<div class="sort-button">
					<%= button_to "Top", sort_branch_ideas_path, params: {branch_sort_style: :votes_count, idea: idea}, 
						:disabled => branch_idea_sort_style(idea.id) == "votes_count", remote: true %>
				</div>
				<div class="sort-button">
					<%= button_to "New", sort_branch_ideas_path, params: {branch_sort_style: :created_at, idea: idea}, 
						:disabled => branch_idea_sort_style(idea.id) == "created_at", remote: true %>
				</div>
			</div>

			<% page_num ||= nil %>
			<% page_num == nil ? page = params[:page] : page = page_num %>
			<% if branch_idea_sort_style(idea.id) %>
				<% @sorted_branch_ideas = idea.branches.reorder(branch_idea_sort_style(idea.id) => :desc).page(page) %>
			<% else %>
				<% @sorted_branch_ideas = idea.branches.page(page) %>
			<% end %>

			<div id="<%= idea.id %>-branch-feed">
				<% for branch_idea in @branches %>
					<% if branch_idea.idea == idea %>
						<%= render 'ideas/branch_idea', b: branch_idea %>
					<% else %>
					<% end %>
				<% end %>
			</div>
		<% else %>
			<div>No branch ideas have been submitted yet!</div>
		<% end %>

		<div id="branch_idea_form"><%= render 'branch_ideas/branch_idea_form', idea: idea %></div>
	
</div>