<div class="base-idea-info">
	Posted <%= time_ago_in_words(idea.created_at) %> ago by <%= User.find_by(id: idea.user_id).name %>
	<% if idea.branches.count > 0 %>
	<span class="bar">&nbsp;|&nbsp;</span>
		<span class="branch-indicator">
			<%= pluralize(idea.branches.count, 'branch') %>
		</span>
	<% end %>
</div>
<div class="vote-count">
	<% if current_user.votes.where(idea: idea).exists? %>
		<%= button_to show_branch_feed_path, params: {idea: idea}, remote: true do %>
			<%= material_icon.done.md_36.css_class('manage-vote-icon') %>
		<% end %>
	<% else %>
		<%= button_to show_branch_feed_path, params: {idea: idea}, remote: true do %>
			<%= material_icon.done.md_36.css_class('show-branches-icon') %>
		<% end %>
	<% end %>
	<div class="<%= idea.id %> vote-count"><%= Vote.where(idea: idea).count %></div>
</div>