<% if idea.votes.where(user_id: current_user.id, root: true).present? %>
	<div class="side-feed-root voted-for">
<% else %>
	<div class="side-feed-root">
<% end %>
		<div class="root-top">
			"<%= idea.content %>"
			<div class="base-idea-info">
				<%= link_to idea.community.name, community_path(idea.community) %>
			</div>
		</div>
		<div class="root-bottom">
			<div class="vote-button" id="<%= idea.id %>_vote_form">
				<% if current_user.votes.where(idea: idea, root: true).exists? %>
					<%= render 'votes/unvote', i: idea %>
				<% else %>
					<%= render 'votes/vote', i: idea %>
				<% end %>
				<div class="root-vote-count" id="<%= idea.id %>_vote_count">
					<%= idea.votes.where(root: true).count %>
				</div>
			</div>
		</div>
	</div>