<h2>User Info:</h2>
<p><strong>Username:</strong> <%= @user.name %></p>
<% if current_user == @user %>
	<p><strong>User email:</strong> <%= @user.email %></p>

	<%= form_for @user, url: ask_current_pw_path(params: {id: @user.id}), remote: true do |f| %>
		<%= f.label :old_password, "Enter current password to edit user info:" %>
    	<%= f.password_field :old_password %>
    	<%= f.submit "Edit password and user info" %>
	<% end %>

<% else %>
<% end %>