<div class="user-page">
	<p><%= link_to "Home", root_path %></p>

	<% flash.each do |message_type, message| %>
		<div class="alert alert-<%= message_type %>"><%= message %></div>
	<% end %>

	<div class="user-info">
		<%= render 'users/user_info' %>
	</div>

	<div class="user-page-votes">
		<%= render 'users/user_vote_feed', user: @user %>
	</div>

	<div>
		<h2>Community Leader of:</h2>
		<% @leadcommunities.each do |l| %>
			<p><%= link_to "#{l.name}", community_path(id: l.id) %></p>
		<% end %>
	</div>

	<div>
		<h2>Community Member of:</h2>
		<% @user.communities.each do |c| %>
			<p><%= link_to "#{c.name}", community_path(id: c.id) %></p>
		<% end %>
	</div>

	<div><h2><%= link_to "Authored Ideas and Branches", users_ideas_path %></h2></div>

</div>