<h1><%= @user.name %></h1>
<p><%= @user.email %></p>
<h2>Community Leader of:</h2>
<% @leadcommunities.each do |l| %>
	<p><%= link_to "#{l.name}", community_path(id: l.id) %></p>
<% end %>
<h2>Community Member of:</h2>
<% @user.communities.each do |c| %>
	<p><%= link_to "#{c.name}", community_path(id: c.id) %></p>
<% end %>
<h2><%= "#{@user.name}" %>'s Ideas:</h2>
<% @user.ideas.each do |i| %>
	<p>
		"<%= i.content %>" 
		Community: <%= link_to "#{Community.find_by(id: i.community_id).name}", 
	                   community_path(id: i.community_id) %>
	</p>
<% end %>
<p><%= link_to "Home", root_path %></p>