<h1><%= link_to current_community.name, community_path(current_community) %></h1>
<p><%= current_community.description %></p>
<p>
	<strong>Latest leader message:</strong>
		<% if current_community.leader_messages.exists? %>
			<span class="alert-success">"<%= current_community.leader_messages.last.content %>"</span>
		<% else %>
			-none-
		<% end %>
</p>
<% if current_community.leader?(current_user) %>
	<p><%= link_to 'Leader Functions', community_admin_path(current_community) %> 
		   (create leader messages, change settings, send invitations, manage members)</p>
<% else %>
<% end %>
<p>
	<strong class="stat"><%= current_community.users.count %></strong>
	<%= link_to "members", user_list_path(current_community) %>
	<br>
	(<%= current_community.membership_setting %> membership)
</p>

<div class="idea-form"><%= render 'ideas/idea_form' unless !current_community.users.include?(current_user) %></div>

<% if current_community.ideas.exists? %>
	<div class="sort-buttons" id="idea_sort_buttons">
		<div class="sort-buttons-1">
			<div>Sort by:</div>
			<div class="sort-button"><%= button_to "Top", sort_ideas_path, params: {sort_style: :votes_count}, 
				:disabled => idea_sort_style == "votes_count", remote: true %></div>
			<div class="sort-button"><%= button_to "New", sort_ideas_path, params: {sort_style: :created_at}, 
				:disabled => idea_sort_style == "created_at", remote: true %></div>
		</div>
		<div class="sort-button">
			<%= form_tag search_ideas_path, method: :get, remote: true do %>
				<p>
					<%= text_field_tag :search, params[:search] %>
					<%= hidden_field_tag :community_id, current_community.id %>
					<%= submit_tag "Search", name: nil %>
				</p>
			<% end %>
		</div>
	</div>
<% else %>
	<div>No ideas have been submitted yet!</div>
<% end %>

<div id="idea_feed">
	<%= render 'ideas/idea_feed' %>
</div>