<h1><%= current_community.name %></h1>
<p><%= current_community.description %></p>
<h2>Ideas</h2>
<% current_community.ideas.each do |i| %>
	<% @idea_id = i.id %>
	<p>"<%= i.content %>"</p>
	<p><%= "#{User.find_by(id: i.user_id).name}" %></p>
	<p>Posted <%= time_ago_in_words(i.created_at) %> ago.</p>
	<p id="<%= "#{i.id}_vote_form" %>">
		<% if current_user.votes.where(idea_id: i.id).exists? %>
			<span id="unvote"><%= render 'votes/unvote', :i => i %></span>
		<% else %>
			<span id="vote"><%= render 'votes/vote', :i => i %></span>
		<% end %>
	</p>
<% end %>