<%= form_for(current_user.memberships.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :community_id, @community.id %></div>
  <%= f.label :access_key %>
  <%= f.text_field :access_key %>

  <%= f.submit "Join" %>
<% end %>