<div class="community-admin-page">
	<% flash.each do |message_type, message| %>
		<div class="alert alert-<%= message_type %>"><%= message %></div>
	<% end %>

	<p><%= link_to "Main community page", community_path(@community) %></p>
	<p><%= link_to "Home", root_path %></p>

	<div>
		<h1><%= @community.name %> Leader Functions</h1>
	</div>

	<div>
		<h2>Leader Messages</h2>

		<div>
			<h3>Current leader message</h3> 
				<% if @community.leader_messages.exists? %>
					<p class="leader-message">"<%= @community.leader_messages.last.content %>"</p>
				<% else %>
					-none-
				<% end %>
		</div>
		</br>
		<h3>Post new leader message</h3>
		<%= form_for @community.leader_messages.build, remote: true do |f| %>
			<%= f.text_area :content, class: "char-counter", data: { 'length': 500 } %>
			<span class="leader char-count">500</span>
			<%= f.hidden_field :user_id, value: current_user.id %>
			<%= f.hidden_field :community_id, value: @community.id %>

			<%= f.submit "Set as current leader message" %>
		<% end %>

		<h3>Past leader messages</h3>
			<div class="columns">
				<div>
					Total leader messages: <%= @community.leader_messages.count %>
				</div>
			</div>
			</br>
			<% if @past_messages == true %>
				<div class="columns">
					<div>
						<strong>Message</strong></br>
						<% @past_messages.each do |p| %>
							"<%= p.content %>"
							</br>
						<% end %>
					</div>
					<div>
						<strong>Time sent</strong></br>
						<% @past_messages.each do |p| %>
							<%= p.created_at.to_formatted_s(:long) %>
							</br>
						<% end %>
					</div>
				</div>
				</br>
				<%= paginate @past_messages %>
			<% end %>
	</div>
	<hr>
	<div>
		<h2>Community Info</h2>
		<p><strong>Name:</strong> <%= @community.name %></p>
		<p><strong>Description:</strong> <%= @community.description %></p>
		<p><strong>Membership setting:</strong> <%= @community.membership_setting %></p>

		<h3>Edit info</h3>
		<%= form_for @community do |f| %>
			<%= f.label :name %>
		    <%= f.text_field :name %>

		    <%= f.label :description %>
		    <%= f.text_area :description %>

		    <%= f.label :membership_setting do %>
		    	<div>Membership Setting</div>
			    <%= f.radio_button :membership_setting, 'open' %>
			    <%= f.label :membership_setting, 
			    	"Open (Anyone can join.)", value: 'open' %></br>
			    <%= f.radio_button :membership_setting, 'closed' %>
			    <%= f.label :membership_setting, 
			    	"Closed (Invited users only.)", value: "restricted" %>
			<% end %>

		    <%= f.submit "Save new community settings", data: {confirm: "Are you sure?"} %>
		<% end %>
	</div>
	<hr>
	<div>
		<% if @community.membership_setting == "closed" %>
			<p>
				<h2>Invitations</h2>
				<h3>Invite people to the community:</h3>

				<%= form_for community_invites_path(@community), html: { class: "new_invitations", remote: true } do |f| %>
					<%= f.hidden_field :community_id, value: @community.id, name: "invitations[community_id]" %>

					<%= f.label :emails, "Up to 200 email addresses, separated by commas:", name: "invitations[emails]" %>
					<%= f.text_area :emails, name: "invitations[emails]" %>

					<%= f.submit "Invite" %>
				<% end %>
			</p>
			<p>
				<h3>Past invitations:</h3>
				<div class="columns">
					<div>
						Total invitations:</br>
						Total emails invited:
					</div>
					<div>
						<%= @community.invitations.count %></br>
						<%= @community.invitations.pluck(:email).uniq.count %>
					</div>
				</div>
				</br>
				<div class="columns">
					<div>
						<strong>Email</strong></br>
						<% @invitations.each do |i| %>
							<%= i.email %>
							</br>
						<% end %>
					</div>
					<div>
						<strong>Time sent</strong></br>
						<% @invitations.each do |i| %>
							<%= i.created_at.to_formatted_s(:long) %>
							</br>
						<% end %>
					</div>
					<div>
						<strong>Status</strong></br>
						<% @invitations.each do |i| %>
							<% if i.accepted? %>
								<span style="color:#1A9407;">Accepted</span>
							<% else %>
								<span style="color:orange;">Pending</span>
							<% end %>
							</br>
						<% end %>
					</div>
				</div>
				</br>
				<%= paginate @invitations %>
			</p>
			<hr>
		<% end %>
	</div>
	<div>
	<p>
		<h2>Members</h2>
		<p>
			Community leaders of closed communities may remove members from their communities, but they must give a reason for the removal that will be sent to the removed member and Delfy admins.
		</p>
		Total members: <%= @community.users.count %>
		<%= form_tag search_users_path, method: :get, remote: true do %>
			<p>
				<%= text_field_tag :search, params[:search] %>
				<%= hidden_field_tag :community_id, params[:community_id], value: @community.id %>
				<%= submit_tag "Search (by name or email)", name: nil %>
			</p>
		<% end %>
		<div id="user-list">
			<%= render 'users/user_list', users: @users, community: @community %>
		</div>
	</div>
</div>

<script type="text/javascript">
  $(".char-counter").on("keyup",function(event){
    checkTextAreaMaxLength(this,event);
  });

  /*
  Check the MaxLength of the Textarea
  -----------------------------------------------------
  @prerequisite:  textBox = textarea dom element
          e = textarea event
                  length = Max length of characters
  */
  function checkTextAreaMaxLength(textBox, e) { 
      
      var maxLength = parseInt($(textBox).data("length"));
      
    
      if (!checkSpecialKeys(e)) { 
          if (textBox.value.length > maxLength - 1) textBox.value        = textBox.value.substring(0, maxLength);
      } 
      $(".char-count").html(maxLength - textBox.value.length);
      
      return true; 
  }

  /*
  Checks if the keyCode pressed is inside special chars
  -------------------------------------------------------
  @prerequisite:  e = e.keyCode object for the key pressed
  */
  function checkSpecialKeys(e) { 
      if (e.keyCode != 8 && e.keyCode != 46 && e.keyCode != 37 && e.keyCode != 38 && e.keyCode != 39 && e.keyCode != 40) 
          return false; 
      else 
          return true; 
  }
</script>