<div class="community-page">
	<%= current_community.name %>
	<p><%= link_to 'Home', root_path %></p>
	<% flash.each do |message_type, message| %>
		<div class="alert alert-<%= message_type %>"><%= message %></div>
	<% end %>
	<p>
		<% if current_user.admin || @community.leader == current_user.id && @community.users.where.not(id: current_user.id).count == 0 %>
			<%= link_to "Delete Community", @community, method: :delete,
                                       		            data: { confirm: "Are you sure? This will permanently delete this community." } %>
		<% else %>
		<% end %>
	</p>
	<div class="joinleave-form"><%= render 'joinleave_form' %></div>
	<div id="community_feed">
		<%= render 'shared/community_feed' %>	
	</div>
</div>