<div id="unvote">
	<% if i.class == BranchIdea %>
		<%= form_for(:vote, url: vote_path(Vote.find_by(user_id: current_user.id, 
														branch_idea: i)),
			html: { method: :delete }, remote: true) do |f| %>
			<%= f.hidden_field :user_id, value: current_user.id %>
			<%= f.hidden_field :branch_idea_id, value: i.id %>
			<%= button_tag(type: 'submit', class: 'vote-button') do %>
				<i class="material-icons md-24" 
					onmouseover="this.innerHTML='close';" 
					onmouseout="this.innerHTML='done';">
						done
				</i>
			<% end %>
		<% end %>
	<% elsif i.class == Idea %>
		<%= form_for(:vote, url: vote_path(Vote.find_by(user_id: current_user.id, idea_id: i.id, root: true)),
			html: { method: :delete }, remote: true) do |f| %>
			<%= f.hidden_field :user_id, value: current_user.id %>
			<%= f.hidden_field :idea_id, value: i.id %>
			<%= f.hidden_field :root, value: "t" %>
			<%= button_tag(type: 'submit', class: 'vote-button') do %>
				<i class="material-icons md-24" 
					onmouseover="this.innerHTML='close';" 
					onmouseout="this.innerHTML='done';">
						done
				</i>
			<% end %>
		<% end %>
	<% else %>
	<% end %>
</div>
